// COLORS
$color-primary: #b5f510;
$color-primary-2: #455268;

$color-secondary-light: #FF6600;
$color-secondary-dark: #ff7730;
$color-teal:#aefae3;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-darker-white: #ffffff;
$color-black: #000;
$color-black-2: #212324;
$color-black-lighter: #1d1d1d;
$color-grey-dark-4: #3c3b3b;

// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;