.header {
    position: relative;
    background-size: cover;
    background-position: top center;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba($color-primary, 0.5)),;
    height: 100vh;

    &__logo{
        position: absolute;
        top: 0;
        left: 0;
        padding: 3rem;
        z-index: 800;
    }

    &__logo-size{
        height: 11rem;
    }

    &__text{
        color: $color-white;
    }

    &__box{
        position: absolute;
        top: 57%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }

    

}