.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;
    

    &__side{
        height: 40rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        
        &--font{
            
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, #3c3b3b, $color-black-lighter);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, #3c3b3b, $color-black-lighter);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, #3c3b3b, $color-black-lighter);
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    &__picture{
        background-position: top center;
        height: 40rem;
        background-size: cover;
        background-blend-mode: screen;
        
        &--1{
            background-image: url(../img/carl-cox-50.jpg);
            
        }

        &--2{
            background-image: url(../img/web-Sasha-2-Preview.jpg);
           
        }

        &--3{
            background-image: url(../img/martinezbrothers20076-photographer-greg-swales.jpg);
           
        }
    }

    &__cta{
        position: absolute;
        top:30%;
        width:100%;

    }

    @include respond(tab-port) {
    &__ticket-box{
       margin-top: 2rem;
    }
}
    &__back-text{
        font-size: 3.0rem;
        letter-spacing: 0.9rem;
        font-weight: 500;
        text-transform: uppercase;
        color: white;
        font-family:  myFirstFont;

        @include respond(tab-port) {
           
        }
    }

    
    @include respond(tab-port) {
        .card {
            height: auto;
            
            &__side{
                height: auto;
                position: relative;
                border-radius: 3px;
        
                
        
                &--back {
                    transform: rotateY(0);            
                }
            }
        
            &:hover &__side--front {
                transform: rotateY(0);
            }
        
            &__cta{
                position: relative;
                top:0;
                width:100%;
            }
        
            &__ticket-box{
               
            }
        
            &__back-text{
                font-size: 3.0rem;
                letter-spacing: 0.9rem;
                font-weight: 500;
                text-transform: uppercase;
                color: white;
                font-family:  myFirstFont;
            }

            &__picture{
                height: 20rem;
            }
    }
    }
    
    @include respond(phone){
        &:hover &__side--front {
            transform: rotateY(0);
        }
    }

}
