.events{
    &__box{
        -webkit-clip-path: polygon(50% 4%, 80% 8%, 100% 0, 100% 100%, 68% 94%, 45% 97%, 13% 79%, 0 50%, 0 50%, 15% 22%);
clip-path: polygon(50% 4%, 80% 8%, 100% 0, 100% 100%, 68% 94%, 45% 97%, 13% 79%, 0 50%, 0 50%, 15% 22%);
        background-image: url(../img/rock.png);
        background-size: cover;
        background-position: center top;
        padding: 40rem 0;
    }

    &__text-box{
        position: relative;
        display: inline-block;
        width: 49%;
        margin-left: 50%;
        text-align: center;
        color: $color-white;
        top: 85px;
    }

    &__dj-heading{
        text-transform: uppercase;    
    }

    &__back-button{
        position: absolute;
        top: 6rem;
        right: 6rem;
        color: white;
        font-size: 4rem;
        font-weight: 500;
        font-family: myFirstfont;
        letter-spacing: 1rem;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
    }
    
}