body{
    font-family:"Lato", sans-serif;
    font-weight: 400;
    /*font-size:16px;*/
    line-height: 1.7;
    color:$color-grey-dark;
    box-sizing:border-box;
}

.heading-primary{
    color:$color-white;
    margin-bottom: 6rem; 

    &--main{
        font-size: 3.3125rem;
        display: block;
        color: $color-primary;
        font-family: logofont;
        font-weight: 600;   
        text-transform: uppercase;  
        animation-name: moveInLeft;  
        animation-duration: 1s;
        animation-timing-function: ease-out;
        transition: all .2s ease-in-out;
        letter-spacing: 0.8rem;

    &:hover{
        transform: scale(1.1);
    }
    }
    
    &--sub{
        white-space: nowrap;
        font-size: 5.3125rem;
        display: block;
        font-family: logofont; 
        font-weight: 800;
        text-transform: uppercase;
        animation-name: moveInRight;  
        animation-duration: 1s;
        animation-timing-function: ease-out;
        transition: all .2s ease-in-out;
        letter-spacing: 0.8rem;

        &:hover{
            transform: scale(1.1);
        }
    }
}

.heading-primary-2{
    color:$color-white;
    margin-bottom: 6rem; 

    &--main{
        font-size: 4.3125rem;
        display: block;
        color: $color-primary;
        font-family: logofont;
        font-weight: 600;   
        text-transform: uppercase;  
        animation-name: moveInLeft;  
        animation-duration: 1s;
        animation-timing-function: ease-out;
        transition: all .2s ease-in-out;
        letter-spacing: 0.8rem;
    }
    
    &--sub{
        white-space: nowrap;
        font-size: 8.3125rem;
        display: block;
        color: $color-white;
        font-family: logofont; 
        font-weight: 800;
        text-transform: uppercase;
        animation-name: moveInRight;  
        animation-duration: 1s;
        animation-timing-function: ease-out;
        transition: all .2s ease-in-out;
        letter-spacing: 0.8rem;
    }
}

.main-heading-text{
    font-size: 4rem;
    border-bottom: solid 5px $color-primary;
    display: inline-block;
    color: $color-white; 
    text-transform: uppercase;
    font-family: logofont;
    letter-spacing: 0.6rem;

}

.secondery-heading-text{
    color: $color-primary;
    font-size: 2.1rem;  
    text-transform: uppercase;
    font-family: logofont;
}

.third-heading-text{
    color: $color-white;
    font-size: 2.0rem;
    text-transform: uppercase;
    font-family: logofont;
}

.paraghraph{
    color: $color-white;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

.about-us-text{
    font-size: 1.5rem;
    text-align: center;
    color: $color-black; 
}

.footer-heading-text{
    text-align: left;
    text-transform: uppercase;
    font-family: logofont;
    color: $color-primary;
    letter-spacing: 0.6rem;
}

.footer-heading-sub{
    text-align: left;
    text-transform: uppercase;
    font-family: logofont;
    color: $color-primary;
    letter-spacing: 0.6rem;
}

a{
    color: $color-white;
    text-decoration: none;

    &:hover{
        color: #fbc400;
    }
}

.fa-flag:hover {
    color: #fbc400;
}

@font-face {
    font-family: logofont;
    src: url(fonts/Oswald.otf);
}

@font-face {
    font-family: sans;
    src: url(fonts/Oswald.otf);
}

