.workout-section{
    background-color: $color-black-2;
    padding: 15rem 7rem;
}

.trainers-section{
    background-color: $color-primary-2;
    padding: 15rem 7rem;
}

.memebership-section{
    height: 95rem;
    background-size: cover;
    background-position: top center;
    padding: 15rem 7rem;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba($color-primary, 0.3)), url(../img/sweatbox-workouts.jpg);
    background-attachment: fixed;
}

.calender-section{
    height: 80rem;
    background-size: cover;
    background-position: top center;
    padding: 15rem 7rem;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba($color-primary, 0.3)), url(../img/dodge-kick.jpg);
    background-attachment: fixed;
}

.testimonal-section{
    background-color: $color-black-2;
    padding: 20rem 7rem;
}

.instagram-section{
    margin-bottom: -5px;
}

.section-newsletter{
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.5)),  url(../img/BG_TEXTURE.png);
    background-color: $color-primary-2;
    padding: 15rem 0;  
    
    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.section-media-icons{
    padding: 5rem 0;
    background-color: $color-primary-2;
}
